name: {{project-name}}-test
services:
  {{project-name}}-db-test:
    image: postgres:17-alpine
    container_name: {{project-name}}-db-test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: {{project-name | snake_case}}_test_db
    ports:
      - "5433:5432"

  {{project-name}}-test-runner:
    build:
      context: ..
      dockerfile: docker/Dockerfile # Utilise ton Dockerfile avec diesel_cli
    platform: linux/amd64
    container_name: {{project-name}}-test-runner
    working_dir: /app
    volumes:
      - ../:/app
      - {{project-name}}_target_test:/app/target
      - {{project-name}}_cargo_test:/usr/local/cargo/registry
    environment:
      - DATABASE_URL=postgres://postgres:postgres@{{project-name}}-db-test:5432/{{project-name | snake_case}}_test_db
    depends_on:
      - {{project-name}}-db-test

volumes:
  {{project-name}}_target_test:
  {{project-name}}_cargo_test: